body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(240, 236, 231);
    background-image: url(/pic/DALL·E\ 2025-02-13\ 20.24.14\ -\ A\ stylized\ environmental-themed\ background\ featuring\ a\ peaceful\ landscape\ with\ fewer\ but\ more\ prominent\ mountains.\ The\ scene\ includes\ lush\ greenery\,\ s.webp);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    color: rgba(71, 121, 179, 0.875);
 
    
}


.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;

}

.logo-profile-picture img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo span {
    text-decoration: underline;
}


main {
    flex: 1;
    text-align: center;
    padding: 20px;
    
    
}

h1 {
    margin-bottom: 50px; /* Adjust the value as needed */
    text-decoration: underline;

    
}

.events-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    height: 300px;
    width: auto;
   
 
}

.event {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    width: 320px;
    height:    300px;
    transition: transform 0.3s ease;
    backdrop-filter:blur(5px);
    background-color: rgba(0, 0, 0, 0.579);

}

.event:hover {
    transform: scale(1.05);
}

.event img {
    width: 100%;
    height: 300px;
    object-fit: cover;

    opacity: 90%;
}
.event-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(4px); /* Blur effect */
    text-align: center;
    padding: 10px 0;
}

.event-info p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0;}

footer {
    background-color: #101424;
    text-align: center;
    color: rgba(245, 228, 207, 0.8);
    margin-top: auto;
}
